<ion-view view-title="Common vocabulary">

  <ion-content>
    <div class="list">
    <ion-list>
    <a class="item item-thumbnail-left" href="#">
      <ion-item menu-close href="#/app/playlist">
        <img src="img\chien.jpg">
      	 <h2>common expresssions</h2>
           <pcommon expresssions</p>
           <i class="icon ion-ios-star-outline"></i>
		    <i class="icon ion-ios-star-outline"></i>
		    <i class="icon ion-ios-star-outline"></i>
		    <i class="icon ion-ios-star-outline"></i>
      </ion-item>
      </a>
       </ion-list>
    <a class="item item-thumbnail-left" href="#">
     <ion-item menu-close href="#/app/playlist">
      <img src="img\chien.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
       <i class="icon ion-ios-star-outline"></i>
       <i class="icon ion-ios-star-outline"></i>
       <i class="icon ion-ios-star-outline"></i>
       <i class="icon ion-ios-star-outline"></i>
       </ion-item>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <ion-item menu-close href="#/app/playlist">
      <img src="img\chien.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
       <i class="icon ion-ios-star-outline"></i>
       <i class="icon ion-ios-star-outline"></i>
       <i class="icon ion-ios-star-outline"></i>
       <i class="icon ion-ios-star-outline"></i>
      </ion-item>
    </a>
     <a class="item item-thumbnail-left" href="#">
      <ion-item menu-close href="#/app/playlist">
       <img src="img\chien.jpg">
        <h2>Pretty Hate Machine</h2>
       <p>Nine Inch Nails</p>
       <i class="icon ion-ios-star-outline"></i>
       <i class="icon ion-ios-star-outline"></i>
       <i class="icon ion-ios-star-outline"></i>
       <i class="icon ion-ios-star-outline"></i>
     </ion-item>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <ion-item menu-close href="#/app/playlist">
      <img src="img\chien.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
       <i class="icon ion-ios-star-outline"></i>
       <i class="icon ion-ios-star-outline"></i>
       <i class="icon ion-ios-star-outline"></i>
       <i class="icon ion-ios-star-outline"></i>
      </ion-item>
    </a>
    
    <a class="item item-thumbnail-left" href="#">
      <ion-item menu-close href="#/app/playlist">
      <img src="img\chien.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
       <i class="icon ion-ios-star-outline"></i>
       <i class="icon ion-ios-star-outline"></i>
       <i class="icon ion-ios-star-outline"></i>
       <i class="icon ion-ios-star-outline"></i>
       </ion-item>
    </a>
    </div>
      <div class="tabs tabs-icon-top">
		<a class="tab-item">
		  <i class="icon ion-arrow-left-b"></i>
             back
       </a>
        <a class="tab-item">
	 	  <i class="icon ion-arrow-up-b"></i>
            Favorites
         </a>
        <a class="tab-item">
         <i class="icon ion-stop"></i>
         Settings
        </a>
   </div>
  </ion-content>
</ion-view>
